html, body {margin: 0; height: 100%; overflow: hidden}

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  background: rgb(130,105,246);
  background: -moz-radial-gradient(circle, rgba(130,105,246,1) 0%, rgba(17,48,249,1) 100%);
  background: -webkit-radial-gradient(circle, rgba(130,105,246,1) 0%, rgba(17,48,249,1) 100%);
  background: radial-gradient(circle, rgba(130,105,246,1) 0%, rgba(17,48,249,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8269f6",endColorstr="#1130f9",GradientType=1);
}


.wrapper {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.container-fluid {
  flex: 1 1 auto;
}

.glassy {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
